extends ../layouts/common.pug

block content
	h2 Login
	if errors
		each error in errors
			.alert.alert-danger= error

			
	form(action='/login', method='POST')
		.form-group
			label(for='email') Email
			input.form-control#email(type='text', name='email' value=values ? values.email : '') 
		.form-group
			label(for='password') Phone
			input.form-control#password(type='password', name='password' value=values ? values.password : '') 
		button.btn.btn-primary.ml-2 Login
	